.kvartal {
  border-collapse: collapse;
}
td {
  border: 1px solid #000;
  background-color: gainsboro;
  text-align: center;
  &:first-of-type, &:last-of-type{
    width: 50px;
    background-color: #51c539;
  }  
}
.car{
  width: 30px;
}
.hockey{
  width: 170px;
}
.home{
  width: 30px;
}

div{
    &:nth-child(2){
    display: flex;
    justify-content: space-between;
    img:nth-child(1){
      transform: rotate(-90deg);
    }
    img:nth-child(2){
      transform: rotate(90deg);
    }
  }
  &:nth-child(3){
    transform: rotate(180deg);
  }
}
