.board {
  border-collapse: collapse;
}

tr{
  &:nth-child(odd){
    td{
      background-color: #fff;
      &:nth-child(even){
        background-color: #000;
      }
    }
  }
  &:nth-child(even){
    td{
      background-color: #000;
      &:nth-child(even){
        background-color: #fff;
      }
    }  
  }
  &:first-of-type td{
    background: transparent!important;
    border: none;
  }
  &:last-child td{
    background: transparent!important;
    border: none;
  }
}

td {
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  text-align: center;
  &:first-child, &:last-child{
    background: transparent!important;
    border: none;
  }

}